.container {
  padding: 32px 20vw;
  display: flex;
  flex-direction: column;
  gap: 32px;
  height: 100%;
  overflow: auto;
  flex-grow: 1;

  a {
    color: inherit;
    text-decoration: none;
  }
}

.blogHeader {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.blogTitle {
  margin: 0;
  font-size: 32px;
}

.desc {
  color: #adadad;
}

.artigos {
  display: flex;
  flex-direction: column;
  gap: 32px;
  height: 100%;
  overflow: auto;
  flex-grow: 1;
  scrollbar-width: none;
}