.header {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-size: 24px;
  margin: 0;

  span {
    color: #adadad;
  }
}

.adicionar {
  color: #1b1b1f;
  text-decoration: none;
}

.adicionar:hover {
  color: #adadad;
}