.header {
  padding: 16px;
}

.brand {
  font-size: 24px;
  margin: 0;

  span {
    color: #adadad;
  }
}

.container {
  padding: 32px 20vw;
  display: flex;
  flex-direction: column;
  gap: 32px;
  height: 100%;
  overflow: auto;
  flex-grow: 1;
}

.blogHeader {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.blogTitle {
  margin: 0;
  font-size: 32px;
}

.desc {
  color: #adadad;
}

.artigos {
  display: flex;
  flex-direction: column;
  gap: 32px;
  height: 100%;
  overflow: auto;
  flex-grow: 1;
  scrollbar-width: none;
}